html,body{
    direction: ltr;
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(
        30deg, 
        rgb(106, 97, 244) 5%, 
        rgb(84, 160, 254) 50%, 
        rgb(3, 219, 223) 95%);
        padding-top: 2%;
}
.flex-child{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-right: 7%;
}
#icon{
    font-size: 2rem;
    color: white;
    width: 66px;
    height: 66px;
    line-height: 66px;
    border-radius: 97%;
    border: 2px solid white;
    cursor: pointer
}
#icon:hover{
    background-color: white;
    color: rgb(23, 81, 240);
    transition: all linear 0.2s;
}
.flex-child-text{
    font-family: IRANSans;
    color: rgba(255,255,255,0.5);
}
.flex-child-text-link{
    color: white;
    font-family: 'yekan';
}



